* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 550px;
    background-color: white;
    border-radius: 10px;
}

.container > div {
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-evenly;
    height: 11%;
    margin: 5px 10px 0px 5px;
    padding: 5px 10px 0px 5px;
}

.Google-Icon {
    width: 45px;
    height: 36px;
    margin: 4px 5px 0px 5px;
}

.title-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.google {
    margin-bottom: 4px;
}

#globe {
    padding-top: 3px;
}

.option > svg {
    width: 25px;
    height: 25px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 11%;
    margin-bottom: 5px;
}

.paragraph > p {
    padding-left: 12px;
    padding-right: 12px;
}

.link {
    color: #0a66c2;
}

.image {
    height: 50%;
}

.image > img {
    height: 100%;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10%;
    padding-left: 12px;
    background-color: whitesmoke;
}

.article > p {
    color: slategray;
    font-size: small;
}

.likes {
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
}

.likes > div {
    margin-left: 3%;
    color: slategray;
    font-size: smaller;
}

.likes > span {
    margin-right: 3%;
    color: slategray;
    font-size: small;
}

.likes-img {
    display: flex;
}

.likes-img > p {
    margin-top: 2%;
}

.options {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like, .comment, .send, .share {
    border: none;
    background-color: white;
    display: flex;
}

.like > h4, .comment > h4, .send > h4, .share > h4 {
    margin-top: 6px;
    color: #7f848a;
}

/* Custome Media Queries For Multiple Phones */
@media (min-width: 1000px) and (min-height: 1300px) {
    .container {
        height: 800px;
        width: 700px;
    }

    * {
        font-size: 17px;
    }

    .Google-Icon {
        /* width: 45px;
        height: 36px; */
        /* margin: 4px 5px 0px 5px; */
        width: 60px;
        height: 50px;
    }

    .likes > span {
        font-size: 17px;
    }

    .article > p {
        font-size: 17px;
    }

    .option > svg {
        width: 30px;
        height: 30px;
        margin: 5px 10px 0px 0px;
    }

    #globe {
        height: 20px;
    }

    .paragraph > p {
        margin-left: 10px;
    }

    .article > h4, .article > p {
        margin-left: 10px;
    }
}

/* iPhone 6/7/8 Plus and Pxel 2 XL */
@media (max-width: 414px) and (max-height: 823px) {

    .container {
        height: 480px;
        width: 414px;
    }
    * {
        font-size: 10px;
    }

    .likes > span {
        font-size: 10px;
    }

    .article > p {
        font-size: 10px;
    }

    .Google-Icon {
        width: 35px;
        height: 28px;
    }

    .likes-img > img {
        width: 11px;
        height: 11px;
    }

    .option > svg {
        width: 20px;
    }

    #globe {
        height: 12px;
    }

    .like > svg, .comment > svg, .share > svg, .send > svg {
        height: 16px;
    }

    .paragraph {
        margin-bottom: 2px;
    }
}

/* iPhone X, 6/7/8 */
@media (max-width: 375px) and (max-height: 812px) {

    .container {
        height: 450px;
        width: 375px;
    }
    * {
        font-size: 9px;
    }

    .likes > span {
        font-size: 9px;
    }

    .article > p {
        font-size: 9px;
    }

    .Google-Icon {
        width: 35px;
        height: 28px;
    }

    .likes-img > img {
        width: 10px;
        height: 10px;
    }

    .likes-img > p {
        margin-top: 0px;
    }

    .option > svg {
        width: 20px;
    }

    .paragraph {
        margin-bottom: 2px;
    }
}

/* iPhone 5/SE */
@media (max-width: 320px) and (max-height: 568px) {

    .container {
        height: 380px;
        width: 320px;
    }

    * {
        font-size: 8px;
    }

    .likes > span {
        font-size: 8px;
    }

    .article > p {
        font-size: 8px;
    }

    .Google-Icon {
        width: 30px;
        height: 24px;
    }

    .likes-img > img {
        width: 10px;
        height: 10px;
    }

    .likes-img > p {
        margin-top: 1px;
    }

    .option > svg {
        width: 16px;
    }

    #globe {
        height: 10px;
    }

    .paragraph {
        margin-bottom: 1px;
    }
}

/* Galaxy Fold */
@media (max-width: 280px) and (max-height: 653px) {

    .container {
        height: 340px;
        width: 280px;
    }

    * {
        font-size: 7px;
    }

    .likes > span {
        font-size: 7px;
    }

    .article > p {
        font-size: 7px;
    }

    .Google-Icon {
        width: 30px;
        height: 25px;
    }

    .likes-img > img {
        width: 9px;
        height: 9px;
    }

    .likes-img > p {
        margin-top: 1px;
    }

    .option > svg {
        width: 15px;
    }

    #globe {
        height: 10px;
    }

    .like > svg, .comment > svg, .share > svg, .send > svg {
        height: 16px;
    }

    .paragraph {
        margin-bottom: 1px;
    }
}